div.login{
    width: 500px;
    height:350px;
    margin-top: 200px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 20px;
    padding-top:20px;
    border: 1px solid #dddddd;
}
mat-form-field.input{
    width:400px;
}
p.error{
    color:red;
    margin-left:20px;
}
